:host{
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  margin: 70px 44px;
  font-family: 'DM Sans Medium';
  font-size: 16pt;
  #notif_container{
    padding: 15px;
    background-color: #030303;
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #notif_text{
      display: inline-block;
      color: #FBFBFB;
      padding:5px;
    }
    #notif_number{
      background-color: #FBFBFB;
      color: #F2994A;
      width: 32px;
      height:32px;
      text-align: center;
      padding:5px;
      border-radius: 10px;
      align-self:center;
    }
  }
}
