<div id=background [style.top]="95-slider_value*10+'%'" [style.background-position-y]="112-slider_value*11.5+'%'">
  <div
    *ngFor="let bubble of bubbles"
    class=bubble
    [style.background-color]="'#FAD6B7'+bubble.opacity"
    [style.border-color]="'#F2994A'+bubble.opacity"
    [style.top]="bubble.top+'%'"
    [style.left]="bubble.left+'%'"
    [style.width]="bubble.size+'px'"
    [style.height]="bubble.size+'px'"
    [style.animation-name]="bubble.to_down?'bubble_down':'bubble'"
    [style.animation-duration]="bubble.speed+'ms'"
    ></div>
</div>
<div
  id=waves
  [style.bottom]="(5+slider_value*10)+'%'"
  [style.height]="border_effect_height"></div>
<div
  id=foam
  [style.top]="slider_value==10?'-56px':'-40%'"></div>
<div id=top-bar>
  <div id=cross></div>
  <div id=top-bar-title>Beer order</div>
</div>
<h2 id="question">How much beer do you want?</h2>

<slider min=0 max=100 value=0 (onslide)="changeValue($event)"></slider>

<span class=message [style.display]='toggle_message?"":"none"'>{{message}}</span>
<span class=message id=message_out [style.display]='!toggle_message?"":"none"'>{{message}}</span>

<notif text='Place your order' number="{{slider_value}}"></notif>
